<div class="admin-type-notification">
    <div> <!--การแจ้งเตือนแบบที่ 0-->
        <div class="row notify rounded-3" *ngIf="messages.type === 0">
            <div class="col d-flex align-items-center">
                <img src="../../../assets/images/box.svg" class="w-50" alt="">
            </div>
            <div class="col-10">
                <div class="row">
                    พัสดุหมายเลข {{messages.data.trackNumber}} ได้รับเรียบร้อยแล้ว
                </div>
                <div class="row">
                    เจ้าของพัสดุ : {{messages.data.owner.firstname}} {{messages.data.owner.lastname}}
                </div>
                <div class="row">
                    ผู้รับ : {{messages.data.receiver_parcel.firstname}} {{messages.data.receiver_parcel.lastname}}
                </div>
                <div class="row text-secondary">
                    {{dateTime}} น.
                </div>
            </div>
        </div>
    </div>
</div>