.admin-type-notification{
    font-size: 20px;
    div:hover.notify{
        box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2),
      0 3px 20px 0 rgba(173, 167, 167, 0.1);
            // background-color: #663cc71c;
            background-color: white;
            padding: 12px;
      
    }
}