<div class="admin-menu-bar">
  <div class="shadow-sm">
    <mat-toolbar>
      <span class="logo"
        ><img
          src="../../../assets/images/logo-rmutt-thai.svg"
          width="24px"
          alt=""
      /></span>
      <span class="spacer"></span>
      <button mat-button (click)="goTo('admin-home-page')" matTooltip="หน้าแรก">
        <mat-icon *ngIf="statusPage === 'admin-home-page'" class="home"
          >home<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'admin-home-page'" [fontSet]="outline"
          >home</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('admin-history-page')"
        matTooltip="หน้าประวัติการรับพัสดุ"
      >
        <mat-icon *ngIf="statusPage === 'admin-history-page'"
          >history<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon
          *ngIf="statusPage !== 'admin-history-page'"
          [fontSet]="outline"
          >history</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('admin-dashboard-statistics-page')"
        matTooltip="หน้าสถิติการรับพัสดุ"
      >
        <mat-icon *ngIf="statusPage === 'admin-dashboard-statistics-page'"
          >assessment<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon
          *ngIf="statusPage !== 'admin-dashboard-statistics-page'"
          [fontSet]="outline"
          >assessment</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('admin-scan-page')"
        matTooltip="หน้าสแกนพัสดุ"
      >
        <img
          *ngIf="statusPage !== 'admin-scan-page'"
          src="../../../assets/icon/scan.svg"
          alt=""
        />
        <img
          *ngIf="statusPage === 'admin-scan-page'"
          src="../../../assets/icon/scan-active.svg"
          alt=""
        /><span
          *ngIf="statusPage == 'admin-scan-page'"
          class="nav-indicartor"
        ></span>
      </button>
      <button
        mat-button
        (click)="goTo('admin-notification-page')"
        (click)="read_message()"
        matTooltip="หน้าการแจ้งเตือน"
      >
        <mat-icon *ngIf="statusPage === 'admin-notification-page'"
          >notifications<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon
          *ngIf="statusPage !== 'admin-notification-page'"
          [fontSet]="outline"
          >notifications</mat-icon
        >
        <span
          class="badge badge-pill badge-danger position-absolute"
          *ngIf="count_messages !== 0"
          >{{ count_messages }}</span
        >
      </button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <img
          [src]="imageProfile | async"
          alt=""
          class="avatar"
          *ngIf="statusProfile === true"
        />
        <mat-icon *ngIf="statusProfile === false">account_circle</mat-icon>
        <strong class="ml-1">{{ firstname }}</strong>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logOut()" class="text-danger">
          ออกจากระบบ<mat-icon class="text-danger">exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
</div>
