.add-receiver {
  background-color: #f0f2f5;
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: white;
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #198754;
  }
  ::ng-deep .btn-outline-secondary {
    background-color: #30009c;
    color: white;
  }
  table {
    width: 100%;
    th {
      width: 50%;
    }
    td {
      width: 40%;
    }
  }
}
::ng-deep .mat-flat-button {
  background-color: #f0f2f5;
  color: #30009c;
}
.delete_receiver {
  ::ng-deep .mat-flat-button {
    background-color: #30009c;
    color: white;
  }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
