<div class="add-receiver">
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h4>เพิ่มผู้รับแทน</h4>
      <div class="d-flex flex-column mt-4">
        <div class="input-group mb-4">
          <input
            class="form-control border-0"
            list="datalistOptions"
            id="exampleDataList"
            placeholder="กรอกชื่อ-นามสกุล เพื่อค้นหาผู้รับพัสดุ"
            [(ngModel)]="name"
            (ngModelChange)="search($event)"
          />
          <datalist id="datalistOptions">
            <option *ngFor="let item of list_users" [value]="item">
              {{ item }}
            </option>
          </datalist>

          <button
            class="btn btn-outline-secondary border-0 add_receiver"
            (click)="add_agent()"
          >
            เพิ่ม
          </button>
        </div>
      </div>
      <div>
        <strong>รายชื่อผู้รับแทน ({{ count_agent }}/3)</strong>
      </div>
      <div class="d-flex justify-content-center" *ngIf="count_agent === 0">
        <h4 class="text-muted">ยังไม่มีรายการผู้รับแทน</h4>
      </div>
      <div *ngFor="let item of agent" class="mt-1">
        <div class="" *ngIf="item.firstname + item.lastname !== ''">
          <table>
            <tr>
              <th>{{ item.firstname }} {{ item.lastname }}</th>
              <td>
                <mat-slide-toggle
                  [checked]="item.status_receiver"
                  (change)="notification($event, item.firstname, item.lastname)"
                >
                  <p *ngIf="item.status_receiver === true" class="text-success">
                    ส่งการแจ้งเตือน
                  </p>
                  <p *ngIf="item.status_receiver === false">
                    ยกเลิกการแจ้งเตือน
                  </p>
                </mat-slide-toggle>
              </td>
              <td>
                <button mat-icon-button (click)="open_Modal(item)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-0 pb-0">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
      (click)="cancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <h3>ลบผู้รับพัสดุ</h3>
    </div>
    <div
      *ngFor="let i of data_delete"
      class="d-flex justify-content-center mt-4"
    >
      <h4>{{ i.firstname }} {{ i.lastname }}</h4>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <div class="d-flex flex-column me-2">
        <button mat-flat-button (click)="d()">ยกเลิก</button>
      </div>
      <div class="delete_receiver d-flex flex-column ms-2">
        <button mat-flat-button (click)="delete_agent()" (click)="d('dismiss')">
          ยืนยัน
        </button>
      </div>
    </div>
  </div>
</ng-template>
