<div class="notification">
    <div class="mt-3  d-flex justify-content-center">
        <div class="col-md-6 offset-2">
            <h3>การแจ้งเตือน</h3>
            <div *ngFor="let item of messages" class="mt-4 mb-3">
                <app-type-notification [messages]="item" [firstname]="firstname" [lastname]="lastname" [email]="email"></app-type-notification>
            </div>
            <div class="mt-3"></div>
            <div class="d-flex justify-content-center" *ngIf="count_messages === 0">
                <h4 class="text-muted">ยังไม่มีการแจ้งเตือน</h4>
            </div>
        </div>
    </div>
</div>
