.menu-bar {
  .nav-indicartor {
    background: #30009c;
    position: absolute;
    border-radius: 10px;
    right: 0;
    bottom: -2;
    left: 0;
    height: 4px;
    transform-origin: bottom;
    transition: transform 235ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  mat-toolbar {
    background-color: #ffffff;
    .spacer {
      flex: 1 1 auto;
    }
    mat-icon {
      color: #30009c;
    }
    .mat-button {
      padding: 13px 16px;
    }
    .avatar {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .logo {
      color: #30009c;
    }
  }

  .mat-toolbar-single-row {
    height: 50px;
  }
}
