<div class="menu-bar">
  <div class="shadow-sm">
    <mat-toolbar>
      <span class="logo"
        ><img
          src="../../../assets/images/logo-rmutt-thai.svg"
          width="24px"
          alt=""
      /></span>
      <span class="spacer"></span>
      <button mat-button (click)="goTo('home-page')" matTooltip="หน้าแรก">
        <mat-icon *ngIf="statusPage === 'home-page'" class="home"
          >home<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'home-page'" [fontSet]="outline"
          >home</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('add-receiver-page')"
        matTooltip="หน้าเพิ่มผู้รับพัสดุแทน"
      >
        <mat-icon *ngIf="statusPage === 'add-receiver-page'"
          >person_add<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'add-receiver-page'" [fontSet]="outline"
          >person_add</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('edit-profile-page')"
        matTooltip="หน้าแก้ไขข้อมูลผู้ใช้งาน"
      >
        <mat-icon *ngIf="statusPage === 'edit-profile-page'"
          >edit<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'edit-profile-page'" [fontSet]="outline"
          >edit</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('history-page')"
        matTooltip="หน้าประวัติการรับพัสดุ"
      >
        <mat-icon *ngIf="statusPage === 'history-page'"
          >history<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'history-page'" [fontSet]="outline"
          >history</mat-icon
        >
      </button>
      <button
        mat-button
        (click)="goTo('dashboard-statistics-page')"
        matTooltip="หน้าสถิติการรับพัสดุ"
      >
        <mat-icon *ngIf="statusPage === 'dashboard-statistics-page'"
          >assessment<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon
          *ngIf="statusPage !== 'dashboard-statistics-page'"
          [fontSet]="outline"
          >assessment</mat-icon
        >
      </button>
      <button mat-button (click)="goTo('scan-page')" matTooltip="หน้าสแกนพัสดุ">
        <img
          *ngIf="statusPage !== 'scan-page'"
          src="../../../assets/icon/scan.svg"
          alt=""
        />
        <img
          *ngIf="statusPage === 'scan-page'"
          src="../../../assets/icon/scan-active.svg"
          alt=""
        /><span *ngIf="statusPage == 'scan-page'" class="nav-indicartor"></span>
      </button>
      <button
        mat-button
        (click)="goTo('notification-page')"
        (click)="read_message()"
        matTooltip="หน้าการแจ้งเตือน"
      >
        <mat-icon *ngIf="statusPage === 'notification-page'"
          >notifications<span class="nav-indicartor"></span
        ></mat-icon>
        <mat-icon *ngIf="statusPage !== 'notification-page'" [fontSet]="outline"
          >notifications</mat-icon
        >
        <span
          class="badge badge-pill badge-danger position-absolute"
          *ngIf="count_messages !== 0"
          >{{ count_messages }}</span
        >
      </button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <img
          [src]="imageProfile | async"
          alt=""
          class="avatar"
          *ngIf="statusProfile === true"
        />
        <mat-icon *ngIf="statusProfile === false">account_circle</mat-icon>
        <strong class="ml-1">{{ firstname }}</strong>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logOut()" class="text-danger">
          ออกจากระบบ<mat-icon class="text-danger">exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
</div>
