.sign-in {
  background-color: #30009c;
  color: #fff;
  height: 100%;
  .logo {
    width: 20vw;
  }

  @media (min-width: 768px) {
    .logo {
      width: 10vw;
    }
  }
  @media (min-width: 992px) {
    .logo {
      width: 12vw;
    }
  }
  @media (min-width: 1200px) {
    .logo {
      width: 8vw;
    }
  }
  @media (min-width: 1400px) {
    .logo {
      width: 8vw;
    }
  }

  .bt-login {
    color: #30009c;
    font-size: 16px;
  }
  .line {
    background-color: #fff;
    border: 1px solid #fff;
    height: 0px;
    width: 100%;
    .bg-line {
      font-size: 14px;
      background-color: #30009c;
      position: absolute;
      bottom: -10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  mat-form-field {
    font-size: 16px;
    margin-top: 5px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    height: 30px;
    ::ng-deep .mat-form-field-underline {
      width: 0%;
    }
    ::ng-deep .mat-form-field-infix {
      border-top: 0.14375em solid transparent;
    }
    ::ng-deep .mat-form-field-label-wrapper {
      top: -0.99375em;
    }
    ::ng-deep input.mat-input-element {
      margin-top: -0.2325em;
    }
    mat-icon {
      position: relative;
      font-size: 20px;
      top: -4px;
      right: -6px;
      color: #30009c;
    }
    ::ng-deep .mat-button-ripple.mat-ripple,
    .mat-button-focus-overlay {
      visibility: hidden;
    }
  }
  ::ng-deep
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    color: #fff;
    font-size: 1.5em;
    position: relative;
    top: 1%;
  }
}
