<div class="sign-in">
    
    <div class="row align-items-start m-0">
        <div class="col-10 offset-1 align-self-center">
            <div class="mt-5 logo mx-auto"><img src="../../../assets/images/logo-rmutt-thai.svg" alt="LOGO" /></div>
            <div class="h5 p-3 text-center">
                Welcome to Tracking and Notifying System for Collecting Parcels for
                Faculty Engineering, RMUTT
            </div>
        </div>
    </div>

    <div class="row align-items-center m-0">
        <div class="col-8 offset-2 align-self-center">
            <div class="h5 p-3 text-center">เข้าสู่ระบบ</div>
            <div class="d-flex justify-content-center pb-2">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>อีเมล</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="email" matInput [(ngModel)]="email" required/>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>รหัสผ่าน</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input [type]="hide ? 'password' : 'text' "  matInput [(ngModel)]="password" id="pass"  required />
                    <!-- show pass -->
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row mt-3">
                <!-- <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" (change)="remember_me($event)"  value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault" role="button">
                            จดจำผู้ใช้งาน
                        </label>
                    </div>
                </div> -->
                <div class="col text-right">
                    <p role="button" (click)="resetPassword()">ลืมรหัสผ่าน</p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button mat-flat-button class="w-100 bt-login" id="login" (click)="loginAuth_Email()">เข้าสู่ระบบ</button>
            </div>                                                           
            <div class="row mt-5">
                <div class="col-10 offset-1 text-center">
                    <strong>ยังไม่มีบัญชีผู้ใช้งาน</strong>&nbsp;
                    <strong (click)="goTo('signUp')" style="cursor: pointer;"><u>ลงทะเบียน</u></strong>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row m-0 mt-5">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-center">
                <div class="line d-flex justify-content-center">
                    <span class="bg-line">หรือ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-end m-0 mt-5">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-center">
                <button mat-flat-button class="w-100" (click)="loginGg()">
                    <img src="../../assets/icon/icons8-google.svg" width="24px"alt="">
                    &nbsp; เข้าสู่ระบบด้วย Google</button>
            </div>
        </div>
    </div> -->
</div>