<div class="admin-dashboard-statistics">
  <div class="row col-md-8 offset-2">
    <div class="row gy-3">
      <div class="col">
        <div ngbDropdown class="d-inline-block bd-dropdown">
          <button
            class="btn btn-outline-primary d-flex align-items-center"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <div
              class="d-flex align-items-center"
              *ngIf="status_dashboard === false"
            >
              <mat-icon>date_range</mat-icon>&nbsp;เลือกปีที่ต้องการ
            </div>
            <div
              class="d-flex align-items-center"
              *ngIf="status_dashboard === true"
            >
              <mat-icon>date_range</mat-icon>&nbsp;{{ year }}
            </div>
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            *ngFor="let i of all_years"
          >
            <div *ngFor="let item of i">
              <button ngbDropdownItem *ngIf="years[0] === ''" disabled>
                ยังไม่มีรายการพัสดุในปีอื่น
              </button>
              <button ngbDropdownItem (click)="select_year(item)">
                {{ item + 543 }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-3">
      <div class="col-6 bg-white round">
        <table>
          <tr>
            <th rowspan="3">
              <img
                src="../../../assets/images/undraw_deliveries_131a.svg"
                alt=""
              />
            </th>
            <th colspan="2">ยอดรวมการสั่งพัสดุ</th>
          </tr>
          <tr>
            <td style="width: 30%">{{ parcels_total }}</td>
            <td>กล่อง</td>
          </tr>
        </table>
      </div>
      <div class="col-5 ms-auto bg-white round">
        <table>
          <tr>
            <th>สถิติ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th colspan="4"></th>
          </tr>
          <tr>
            <td>น้อยที่สุด</td>
            <td>
              <span class="badge bg-primary">{{ min_average }}</span>
            </td>
            <td>ชิ้น</td>
            <td>ในเดือน</td>
            <td>
              <span class="badge bg-primary">{{ year_minAverage }}</span>
            </td>
          </tr>
          <tr>
            <td>มากที่สุด</td>
            <td>
              <span class="badge bg-primary">{{ max_average }}</span>
            </td>
            <td>ชิ้น</td>
            <td>ในเดือน</td>
            <td>
              <span class="badge bg-primary">{{ year_maxAverage }}</span>
            </td>
          </tr>
          <tr>
            <td>ค่าเฉลี่ย</td>
            <td>
              <span class="badge bg-primary">{{ average_parcels }}</span>
            </td>
            <td>กล่อง/ปี</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row gy-4">
      <div echarts [options]="option" class="chart bg-white round"></div>
    </div>
  </div>
</div>
