.list {
  .badge {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .checkOut {
    background-color: #30009c;
    color: white;
  }
  @media (max-width : 576px) {
    .imgParcel{
      visibility: hidden;
    }
  }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
