.admin-history{
    .bradius{
        border-radius: 5px 0px 0px 5px;
    }
    ::ng-deep .btn-outline-primary{
        background-color: #30009C;
        color: white;
        border-color: #30009C;
    }
    .btRemove{
        color: #30009C;
    }
    mat-icon{
        color: #30009C;      
    }
}