<div class="admin-list-history">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="">
        วันเวลาที่เจ้าหน้าที่รับพัสดุ :&nbsp;
        <p>{{ date_checkIn }} น.</p>
      </mat-panel-title>
      <mat-panel-title class="">
        วันเวลาที่รับพัสดุ :&nbsp;
        <p>{{ date_checkOut }} น.</p>
      </mat-panel-title>
      <mat-panel-description class="text-dark">
        เลขติดตามพัสดุ : {{ listParcels.trackNumber }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="">
      <div class="d-flex flex-row align-items-center">
        <div class="col">
          <img
            *ngIf="listParcels.images?.image0 === ''"
            src="../../../../assets/images/box.svg"
            class="w-25"
            alt=""
          />
          <img
            *ngIf="listParcels.images?.image0 !== ''"
            class="rounded-3"
            [src]="listImage.Img0 | async"
            style="width: 220px"
            alt=""
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <p>เลขติดตามพัสดุ : {{ listParcels.trackNumber }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                เจ้าของพัสดุ : {{ listParcels.owner?.firstname }}
                {{ listParcels.owner?.lastname }}
              </p>
            </div>
            <div class="col">
              <p>
                ผู้รับพัสดุ : {{ listParcels.receiver?.firstname }}
                {{ listParcels.receiver?.lastname }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>วันเวลาที่เจ้าหน้าที่รับพัสดุ : {{ date_checkIn }} น.</p>
            </div>
            <div class="col">
              <p>วันเวลาที่รับพัสดุ : {{ date_checkOut }} น.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
