.list-parcels{
.badge {
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
  .addreceiver{
    background-color: #30009C;
    color: white;
  }
  @media (max-width : 576px) {
    .imgParcel{
      visibility: hidden;
    }
  }
}