<div class="list-parcels">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="d-flex align-items-center">
                วันที่เจ้าหน้าที่รับพัสดุ :&nbsp;
                <div  *ngIf="date !== 'Invalid Date'">{{date}}</div>
                <div *ngIf="date ==='Invalid Date' " class="text-secondary">-</div>
            </mat-panel-title>
            <mat-panel-description class="text-dark">
                เลขติดตามพัสดุ : {{listParcels.trackNumber}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="">
            <div class="d-flex flex-row align-items-center">
                <div class="imgParcel">
                    <img
                    *ngIf="
                      listParcels.images?.image1 === '' &&
                      listParcels.images?.image0 === '' &&
                      listParcels.images?.image2 === '' &&
                      listParcels.images?.image3 === ''
                    "
                    src="../../../../assets/images/box.svg"
                    class="w-25"
                    alt=""
                  />
                  <img
                    *ngIf="listParcels.images?.image0 !== ''"
                    class="rounded-3"
                    [src]="listImage.Img0 | async"
                    style="width: 220px"
                    alt=""
                  />
                  <img
                  *ngIf="listParcels.images?.image1 !== '' && listParcels.images?.image0 ===''"
                    class="rounded-3"
                    [src]="listImage.Img1 | async"
                    style="width: 220px"
                    alt=""
                  />
                  <img
                  *ngIf="listParcels.images?.image1 === '' && listParcels.images?.image0 ===''&&listParcels.images?.image2 !== ''"
                    class="rounded-3"
                    [src]="listImage.Img2 | async"
                    style="width: 220px"
                    alt=""
                  />
                  <img
                  *ngIf="listParcels.images?.image1 === '' && listParcels.images?.image0 ===''&&listParcels.images?.image2 === ''&&listParcels.images?.image3 !== ''"
                    class="rounded-3"
                    [src]="listImage.Img3 | async"
                    style="width: 220px"
                    alt=""
                  />
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>เลขติดตามพัสดุ : {{listParcels.trackNumber}}</p>
                        </div>
                        <div class="col">
                            <p>เจ้าของพัสดุ : {{ listParcels.owner?.firstname}} {{ listParcels.owner?.lastname }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p *ngIf="listParcels.checkIn !== null">วันที่เจ้าหน้าที่รับพัสดุ : {{date}}</p>
                            <p *ngIf="listParcels.checkIn === null">วันที่เจ้าหน้าที่รับพัสดุ : -</p>
                        </div>
                        <div class="col">
                            <p *ngIf="listParcels.checkIn !== null">เวลาที่เจ้าหน้าที่รับพัสดุ : {{time}} น.</p>
                            <p *ngIf="listParcels.checkIn === null">เวลาที่เจ้าหน้าที่รับพัสดุ : -</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button mat-raised-button *ngIf="owner === this.ownerName" (click)="editParcel()" class="addreceiver">แก้ไข</button>
                    <button mat-raised-button *ngIf="owner !== this.ownerName"  disabled >แก้ไข</button>
                </div>
            </div>

        </div>

    </mat-expansion-panel>
</div>