<div class="home-page container-fluid">
  <div class="mt-2 row col-12">
    <div class="row d-flex align-items-center">
      <div class="col-10 offset-1">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary bradius"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ selectSearch }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                ngbDropdownItem
                (click)="changeState_search(1, 'หมายเลขติดตามพัสดุ')"
              >
                หมายเลขติดตามพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(2, 'วันที่เจ้าหน้าที่รับพัสดุ')"
              >
                วันที่เจ้าหน้าที่รับพัสดุ
              </button>
            </div>
          </div>
          <input
            *ngIf="stateSearch === 1"
            type="text"
            class="form-control"
            [(ngModel)]="track"
            (ngModelChange)="searchTrack($event)"
            placeholder="หมายเลขติดตามพัสดุ"
          />
          <input
            *ngIf="stateSearch === 2"
            type="date"
            class="form-control"
            [(ngModel)]="date"
            (ngModelChange)="searchDate($event)"
          />
          <button class="btn border btRemove" (click)="resetForm()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div class="col">
        <mat-button-toggle-group class="">
          <mat-button-toggle (click)="activeStatus(0)" checked>
            <mat-icon fontSet="material-icons-outlined">widgets</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="activeStatus(1)">
            <mat-icon>list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="mt-3"></div>
    <div class="d-flex justify-content-center" *ngIf="statusParcels === false">
      <h4 class="text-muted">ยังไม่มีรายการพัสดุ</h4>
    </div>
    <div *ngIf="statusPage === 0" class="row me-2 ms-2">
      <div
        *ngFor="let list of list_Parcel0"
        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2"
      >
        <app-card-parcels
          [listParcels]="list"
          [statusParcels]="statusPage"
          [owner]="deCodeName"
        ></app-card-parcels>
      </div>
    </div>

    <div *ngIf="statusPage === 1" class="row me-2 ms-2">
      <div *ngFor="let list of list_Parcel0" class="col-md-12 p-1">
        <app-list-parcels
          [listParcels]="list"
          [statusParcels]="statusPage"
          [owner]="deCodeName"
        ></app-list-parcels>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="d-flex justify-content-end me-3 mb-3 fixed-bottom">
          <button
            mat-fab
            class="addParcels"
            (click)="addParcel(content)"
            matTooltip="เพิ่มเลขพัสดุ
        "
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="p-3">
        <div class="modal-title">
          <button type="button" class="close" aria-label="Close" (click)="c()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-header">
          <div class="row">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/images/box.svg" class="w-50" alt="" />
            </div>
            <div class="d-flex justify-content-center mt-3">
              <strong>เพิ่มรายการพัสดุของคุณ</strong>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <p>หมายเลขติดตามพัสดุ</p>
          </div>
          <div class="input-group mb-2">
            <input
              type="text"
              class="text-center form-control"
              [(ngModel)]="tracking"
              placeholder="กรอกหมายเลขติดตามพัสดุ"
            />
            <div class="input-group-append">
              <button
                (click)="add_tracking()"
                class="btn btn-outline-secondary add_parcels"
              >
                <mat-icon fontSet="material-icons-outlined" class=""
                  >add_box</mat-icon
                >
              </button>
            </div>
          </div>
          <div *ngFor="let track of list_tracking">
            <table>
              <tr>
                <th class="text-center">
                  <p>{{ track }}</p>
                </th>
                <td class="text-end">
                  <mat-icon
                    role="button"
                    color="warn"
                    (click)="delete_track(track)"
                    >delete</mat-icon
                  >
                </td>
              </tr>
            </table>
          </div>
          <div class="row mt-3">
            <button
              mat-flat-button
              class="bt_submit"
              (click)="addTracking()"
              (click)="d()"
            >
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
