.card-main {
  .card {
    border-radius: 20px;
    font-size: 14px;
    .badge {
      font-size: 13px;
    }
    #hover-img {
      visibility: hidden;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    img {
      width: 100%;
      height: 200px;
      border-radius: 20px;
      cursor: pointer;
    }
    .material-icons {
      font-size: 64px;
    }
  }
  .mat-flat-button {
    width: 100%;
  }
  div:hover.card {
    box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2),
      0 3px 20px 0 rgba(173, 167, 167, 0.1);
    #hover-img {
      visibility: visible;
      position: absolute;
      cursor: pointer;
      transform: translate(-50%, -50%);
    }
  }
  .editBt {
    background-color: #f0f2f5;
  }
  .mat-flat-button.mat-primary {
    background-color: #30009c;
  }
}

.badge {
  font-size: 13px;
}
.imgModal {
  width: 100%;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-bottom: none;
  border-top: none;
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
