<div class="card-main">
  <div class="card border-0">
    <div>
      <div
        class="d-flex justify-content-center align-items-center p-2"
        (click)="showImage(content)"
      >
        <img
          [src]="listImage.Img0 | async"
          *ngIf="listParcels.images?.image0 !== ''"
          alt=""
        />
        <img
          [src]="listImage.Img1 | async"
          *ngIf="
            listParcels.images?.image1 !== '' &&
            listParcels.images?.image0 === ''
          "
          alt=""
        />
        <img
          [src]="listImage.Img2 | async"
          *ngIf="
            listParcels.images?.image1 === '' &&
            listParcels.images?.image0 === '' &&
            listParcels.images?.image2 !== ''
          "
          alt=""
        />
        <img
          [src]="listImage.Img3 | async"
          *ngIf="
            listParcels.images?.image1 === '' &&
            listParcels.images?.image0 === '' &&
            listParcels.images?.image2 === '' &&
            listParcels.images?.image3 !== ''
          "
          alt=""
        />
        <img
          src="../../../../assets/images/box.svg"
          *ngIf="
            listParcels.images?.image0 === '' &&
            listParcels.images?.image1 === '' &&
            listParcels.images?.image2 === '' &&
            listParcels.images?.image3 === ''
          "
          alt=""
        />
        <mat-icon class="text-white" id="hover-img">image_search</mat-icon>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">เลขติดตามพัสดุ</h6>
          </div>
          <div class="row">
            <p class="fw-bold">{{ listParcels.trackNumber }}</p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">เจ้าของพัสดุ</h6>
          </div>
          <div class="row">
            <p class="fw-bold">
              {{ listParcels.owner?.firstname }}
              {{ listParcels.owner?.lastname }}
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">วันที่เจ้าหน้าที่รับพัสดุ</h6>
          </div>
          <div class="row">
            <p *ngIf="listParcels.checkIn !== null" class="fw-bold">
              {{ date }}
            </p>
            <p
              class="fw-bold text-secondary"
              *ngIf="listParcels.checkIn === null"
            >
              -
            </p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">เวลาที่เจ้าหน้าที่รับพัสดุ</h6>
          </div>
          <div class="row">
            <p *ngIf="listParcels.checkIn !== null" class="fw-bold">
              {{ time }} น.
            </p>
            <p
              class="fw-bold text-secondary"
              *ngIf="listParcels.checkIn === null"
            >
              -
            </p>
          </div>
        </div>
      </div>
      <div>
        <button class="editBt" (click)="editParcel()" mat-flat-button>
          แก้ไข
        </button>
      </div>
      <div class="mt-2">
        <button mat-flat-button color="primary" (click)="open_popup_Checkout()">
          รับพัสดุ
        </button>
      </div>
    </div>
  </div>
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4
          class="text-muted text-center"
          *ngIf="
            listParcels.images?.image0 === '' &&
            listParcels.images?.image1 === '' &&
            listParcels.images?.image2 === '' &&
            listParcels.images?.image3 === ''
          "
        >
          ไม่รูปภาพพัสดุ
        </h4>
        <ngb-carousel *ngIf="listParcels">
          <ng-template ngbSlide *ngIf="listParcels.images?.image0 !== ''">
            <div class="picsum-img-wrapper">
              <img
                [src]="listImage.Img0 | async"
                class="imgModal rounded-3"
                alt=""
              />
            </div>
          </ng-template>
          <ng-template ngbSlide *ngIf="listParcels.images?.image1 !== ''">
            <div class="picsum-img-wrapper">
              <img
                [src]="listImage.Img1 | async"
                class="imgModal rounded-3"
                alt=""
              />
            </div>
          </ng-template>
          <ng-template ngbSlide *ngIf="listParcels.images?.image2 !== ''">
            <div class="picsum-img-wrapper">
              <img
                [src]="listImage.Img2 | async"
                class="imgModal rounded-3"
                alt=""
              />
            </div>
          </ng-template>

          <ng-template ngbSlide *ngIf="listParcels.images?.image3 !== ''">
            <div class="picsum-img-wrapper">
              <img
                [src]="listImage.Img3 | async"
                class="imgModal rounded-3"
                alt=""
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </ng-template>
  </div>
</div>
