.type-notification {
  font-size: 20px;
  .accept {
    background-color: #30009c;
  }
  .imgProfile {
    background-color: #30009c;
    width: 50px;
    height: 50px;
  }
  div:hover.notify {
    box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2),
      0 3px 20px 0 rgba(173, 167, 167, 0.1);
    background-color: white;
    padding: 12px;
    .bt_cancel {
      background-color: #f0f2f5;
    }
  }
  .bt_accept {
    background-color: #30009c;
  }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
