<div class="type-notification">
  <div class="row notify rounded-3">
    <div class="col d-flex align-items-center">
      <img src="../../../assets/images/box.svg" class="w-50" alt="" *ngIf="messages.type !== 1" />
      <img
        [src]="image_Profile | async"
        class="w-75 rounded-circle"
        alt=""
        *ngIf="path_Profile !== '' && messages.type === 1"
      />
      <div
        *ngIf="path_Profile === '' && messages.type === 1"
        class="
          imgProfile
          text-white
          rounded-circle
          d-flex
          align-items-center
          justify-content-center
        "
      >
        {{ sender_fname }} {{ sender_lname }}
      </div>
    </div>
    <div class="col-10">
      <div class="row" *ngIf="messages.type === 0">
        พัสดุหมายเลข {{ messages.data.trackNumber }} ได้รับเรียบร้อยแล้ว
      </div>
      <div class="row" *ngIf="messages.type === 0">
        เจ้าของพัสดุ : {{ messages.data.owner.firstname }}
        {{ messages.data.owner.lastname }}
      </div>
      <div class="row" *ngIf="messages.type === 0">
        ผู้รับ : {{ messages.data.receiver_parcel.firstname }}
        {{ messages.data.receiver_parcel.lastname }}
      </div>
      <div class="row" *ngIf="messages.type === 1">
        {{ messages.sender?.firstname }}
        {{ messages.sender?.lastname }} เพิ่มคุณเป็นผู้รับพัสดุแทน
      </div>
      <div class="row mt-2" *ngIf="messages.type === 1">
        <div class="col row">
          <div class="col p-0">
            <button
              class="accept mr-2 pr-4 pl-4 bt_accept"
              color="primary"
              (click)="accept()"
              mat-flat-button
            >
              ยอมรับ
            </button>
            <button class="ml-2 pr-4 pl-4 bt_cancel" mat-flat-button (click)="cancel()">
              ปฏิเสธ
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="messages.type === 2">
        พัสดุหมายเลข {{ messages.data.trackNumber }} มาถึงแล้ว!!!
      </div>
      <div class="row text-secondary">{{ dateTime }} น.</div>
    </div>
  </div>
</div>
