<div class="admin-card-history">
  <div class="card border-0">
    <div>
      <div
        class="d-flex justify-content-center p-2"
        (click)="showImage(content)"
      >
        <img
          *ngIf="listParcels.images?.image0 !== ''"
          [src]="listImage.Img0 | async"
          alt=""
        />
        <img
          src="../../../../assets/images/box.svg"
          alt=""
          *ngIf="listParcels.images?.image0 === ''"
        />
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">เลขติดตามพัสดุ</h6>
          </div>
          <div class="row fw-bold">
            <p class="">{{ listParcels.trackNumber }}</p>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">เจ้าของพัสดุ</h6>
          </div>
          <div class="row fw-bold">
            <p class="">
              {{ listParcels.owner?.firstname }}
              {{ listParcels.owner?.lastname }}
            </p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">ผู้รับพัสดุ</h6>
          </div>
          <div class="row fw-bold">
            <p>
              {{ listParcels.receiver?.firstname }}
              {{ listParcels.receiver?.lastname }}
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">วันเวลาที่เจ้าหน้าที่รับพัสดุ</h6>
          </div>
          <div class="row fw-bold">
            <p>{{ date_checkIn }} น.</p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h6 class="text-secondary">วันเวลาที่รับพัสดุ</h6>
          </div>
          <div class="row fw-bold">
            <p>{{ date_checkOut }} น.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <h4
      class="text-muted text-center"
      *ngIf="
        listParcels.images?.image0 === '' &&
        listParcels.images?.image1 === '' &&
        listParcels.images?.image2 === '' &&
        listParcels.images?.image3 === ''
      "
    >
      ไม่รูปภาพพัสดุ
    </h4>
    <div class="row">
      <ngb-carousel *ngIf="listParcels">
        <ng-template ngbSlide *ngIf="listParcels.images?.image0 !== ''">
          <div class="picsum-img-wrapper">
            <img
              [src]="listImage.Img0 | async"
              class="imgModal rounded-3"
              alt=""
            />
          </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="listParcels.images?.image1 !== ''">
          <div class="picsum-img-wrapper">
            <img
              [src]="listImage.Img1 | async"
              class="imgModal rounded-3"
              alt=""
            />
          </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="listParcels.images?.image2 !== ''">
          <div class="picsum-img-wrapper">
            <img
              [src]="listImage.Img2 | async"
              class="imgModal rounded-3"
              alt=""
            />
          </div>
        </ng-template>

        <ng-template ngbSlide *ngIf="listParcels.images?.image3 !== ''">
          <div class="picsum-img-wrapper">
            <img
              [src]="listImage.Img3 | async"
              class="imgModal rounded-3"
              alt=""
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</ng-template>
