.sign-up{
    background-color: #30009C;
    color:#fff;
    height: 100%;
    // width: 608px;
    mat-form-field{
        background-color: #fff;
        color: black;
        border-radius: 5px;
        height:30px;
        ::ng-deep .mat-form-field-underline{
            width: 0%;
        }
        ::ng-deep .mat-form-field-infix{
            border-top:0.14375em solid transparent;
        }
        ::ng-deep .mat-form-field-label-wrapper {
            top: -0.99375em;
        }
        ::ng-deep input.mat-input-element{
            margin-top: -0.2325em;
        }
        
    }
    .register{
        color: #30009C;
        font-size: 16px;
    }
    button{
        color: #30009C;
    }
    ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        color: #fff;
    }
    
}