<div class="sign-up">
    <div class="row align-items-start m-0">
        <div class="col-10 offset-1 align-self-center">
            <div class="mt-5 w-25 mx-auto"><img src="../../../assets/images/logo-rmutt-thai.svg" alt="LOGO"/></div>
            <div class="h5 p-3 text-center">
                Welcome to Tracking and Notifying System for Collecting Parcels for
                Faculty Engineering, RMUTT
            </div>
        </div>
    </div>

    <div class="row align-items-center m-0">
        <div class="col-8 offset-2 align-self-center">
            <div class="h5 p-3 text-center">ลงทะเบียน</div>

            <div class="d-flex justify-content-center pb-2">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>ชื่อ</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="text" matInput [(ngModel)]="firstname" [formControl]="rq_fname" required/>
                    <mat-error *ngIf="rq_fname.dirty">
                        {{fnameMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>นามสกุล</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="text" matInput [(ngModel)]="lastname" [formControl]="rq_lname" required/>
                    <mat-error *ngIf="rq_lname.dirty">
                        {{lnameMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>ภาควิชา หรือ หน่วยงานที่สังกัด</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <mat-select [(ngModel)]="department" [formControl]="rq_department" required>
                        <mat-option  [value]="item" *ngFor="let item of department_En">{{item}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rq_department.dirty">
                        {{department_Message()}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>อีเมล</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="email" matInput [(ngModel)]="email" [formControl]="rq_email" required/>
                    <mat-error *ngIf="rq_email.invalid">
                        {{emailMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>รหัสผ่าน</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="password" matInput [(ngModel)]="password" [formControl]="pass" required/>
                    <mat-error class="" *ngIf="pass.dirty && pass.errors?.pattern">
                        <p>ใช้อักขระ 6 ตัวขึ้นไป ที่มีทั้งอักษรและตัวเลข</p>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>ยืนยันรหัสผ่าน</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="password" matInput [(ngModel)]="check_password" [formControl]="confirmPassword" required/>
                    <mat-error *ngIf="confirmPassword.dirty && confirmPassword.errors?.noMatch">
                        <strong>Password</strong> and <strong>Confirm Password</strong> must be same
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center pb-2 mt-3">
                <mat-form-field class="ps-3 pe-3 w-100">
                    <mat-label>รหัสสำหรับลงทะเบียน</mat-label>
                    <span matPrefix>&nbsp;&nbsp;</span>
                    <input type="text" matInput [(ngModel)]="key_code" [formControl]="check_keyCode" required/>
                    <mat-error *ngIf="check_keyCode.dirty">
                        <strong>กรุณากรอกรหัสสำหรับลงทะเบียน</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="d-flex justify-content-center pt-4">
                <button mat-flat-button class="w-100 register" type="reset" (click)="signUp()" routerLink="/" >ลงทะเบียน</button>
            </div>
            <div class="row pt-4">
                <div class="col-8 offset-2 align-self-center">
                    <strong>มีบัญชีผู้ใช้งานแล้ว</strong>&nbsp;
                    <strong (click)="goTo('signIn')" style="cursor: pointer;"><u>เข้าสู่ระบบ</u></strong>
                </div>
            </div>
        </div>
    </div>
</div>
