<div class="admin">
  <div>
    <app-admin-menu-bar (page)="goTo($event)"></app-admin-menu-bar>
  </div>
  <app-admin-home-page
    *ngIf="statusPage === 'admin-home-page'"
  ></app-admin-home-page>
  <app-admin-history
    *ngIf="statusPage === 'admin-history-page'"
  ></app-admin-history>
  <app-admin-dashboard-statistics
    *ngIf="statusPage === 'admin-dashboard-statistics-page'"
  ></app-admin-dashboard-statistics>
  <app-admin-scan *ngIf="statusPage === 'admin-scan-page'"></app-admin-scan>
  <app-admin-notification
    *ngIf="statusPage === 'admin-notification-page'"
  ></app-admin-notification>
</div>
