<div class="scan mt-5">
  <div class="camera row col-md-4 offset-4 p-0">
    <div class="mt-5 p-0 d-flex justify-content-end">
      <button mat-icon-button (click)="changeCamera($event)">
        <mat-icon class="flip_c">flip_camera_ios</mat-icon>
      </button>
    </div>
    <div class="align-self-center p-0 mb-5 position-relative">
      <h4 class="text-muted d-flex justify-content-center mt-5" *ngIf="check_camera === false">
        ไม่พบอุปกรณ์กล้องของคุณ
      </h4>
      <div *ngIf="openCamera === true">
        <zxing-scanner [formats]="formats" [(device)]="currentDevice" (scanSuccess)="scanSuccessHandler($event)"
          (camerasFound)="camerasFoundHandler($event)" (permissionResponse)="onHasPermission($event)"></zxing-scanner>
      </div>
      <div class="row col-md-6 offset-3 pt-3">
        <strong class="text-danger">***นำกล้องไปที่รหัสติดตามพัสดุ***</strong>
      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-6 offset-3">
          <img src="../../../assets/images/box.svg" alt="" />
        </div>
        <div class="mt-2">
          <h3 class="d-flex justify-content-center">ยืนยันการรับพัสดุ</h3>
          <strong class="text-secondary d-flex justify-content-center">หมายเลขติดตามพัสดุ</strong>
          <div class="vertical-menu">
            <div *ngFor="let i of tracking" class="d-flex justify-content-around">
                <p class="material-icons text-success" *ngIf="i.check === 0">
                  check_circle
                </p>
                <p class="text-success" *ngIf="i.check === 0">
                  พัสดุตรงกับรายการลงทะเบียน
                </p>
                <p class="material-icons text-danger" *ngIf="i.check === 1">
                  cancel
                </p>
                <p class="text-danger" *ngIf="i.check === 1">
                  พัสดุนี้ไม่อยู่รายการของคุณ
                </p>
                <p class="text-secondary">{{ i.tracking }}</p>
                <mat-icon role="button" (click)="deleteTrack(i.tracking)" color="warn">delete</mat-icon>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column p-1">
          <button mat-flat-button (click)="addTracking($event)">
            รับพัสดุเพิ่มเติม
          </button>
        </div>
        <div class="d-flex flex-column accept-Parcel p-1">
          <button class="" mat-flat-button (click)="receiverParcels()">
            ยืนยัน
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>