.scan{
  background-color: #F0F2F5;
  .flip_C{
    color: #30009C;
  }
    .camera{
        background-color: white;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2),
      0 3px 20px 0 rgba(173, 167, 167, 0.1);
        zxing-scanner {
            max-width: 100%;
          }
    }
   .center-scan{
      position: absolute;
      top: 50%;
      width: 75%;
   }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
::ng-deep .mat-flat-button{
  background-color: #F0F2F5;
  color: #30009C;
}
.accept-Parcel{
  ::ng-deep .mat-flat-button{
    background-color: #30009C;
    color: white;
  }
}
.vertical-menu{
  max-height: 310px;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(207, 206, 206); 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 118, 118); 
}
