.dashboard-statistics {
  background-color: #f0f2f5;
  .round {
    border-radius: 10px;
  }
  img {
    width: 150px;
  }
  table {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .chart {
    height: 400px;
  }
  .bd-dropdown {
    .btn-outline-primary {
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border: none;
      background-color: white;
      color: #30009c;
    }
  }
  ::ng-deep .bg-primary {
    background-color: #30009c !important;
  }
}
