.history {
  background-color: #f0f2f5;
  .bradius {
    border-radius: 5px 0px 0px 5px;
  }
  ::ng-deep .btn-outline-primary {
    background-color: #30009c;
    color: white;
    border-color: #30009c;
  }
  .btRemove {
    color: #30009c;
  }
  mat-icon {
    color: #30009c;
  }
}
