<div class="history">
  <div class="mt-2 row col-12">
    <div class="row d-flex align-items-center">
      <div class="col-10 offset-1">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary bradius"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ selectSearch }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                ngbDropdownItem
                (click)="changeState_search(1, 'ผู้รับพัสดุ')"
              >
                ผู้รับพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(2, 'หมายเลขติดตามพัสดุ')"
              >
                หมายเลขติดตามพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(3, 'วันเวลาที่เจ้าหน้าที่รับพัสดุ')"
              >
                วันเวลาที่เจ้าหน้าที่รับพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(4, 'วันที่รับพัสดุ')"
              >
                วันที่รับพัสดุ
              </button>
            </div>
          </div>
          <input
            *ngIf="stateSearch === 1"
            type="text"
            class="form-control"
            [(ngModel)]="receiverName"
            (ngModelChange)="searchReceiver($event)"
            placeholder="ชื่อ-นามสกุล"
          />
          <input
            *ngIf="stateSearch === 2"
            type="text"
            class="form-control"
            [(ngModel)]="track"
            (ngModelChange)="searchTrack($event)"
            placeholder="หมายเลขติดตามพัสดุ"
          />
          <input
            *ngIf="stateSearch === 3"
            type="date"
            class="form-control"
            [(ngModel)]="date_checkIn"
            (ngModelChange)="searchDate_checkIn($event)"
          />
          <input
            *ngIf="stateSearch === 4"
            type="date"
            class="form-control"
            [(ngModel)]="date_checkOut"
            (ngModelChange)="searchDate_checkOut($event)"
          />
          <button class="btn border btRemove" (click)="resetForm()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div class="col">
        <mat-button-toggle-group class="">
          <mat-button-toggle (click)="activeStatus(0)" checked>
            <mat-icon fontSet="material-icons-outlined">widgets</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="activeStatus(1)">
            <mat-icon>list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="mt-3"></div>
    <div class="d-flex justify-content-center" *ngIf="statusParcels === false">
      <h4 class="text-muted">ยังไม่มีรายการพัสดุ</h4>
    </div>
    <div class="mt-3">
      <div *ngIf="statusPage === 0" class="row me-2 ms-2">
        <div
          *ngFor="let list of list_Parcel0"
          class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2"
        >
          <app-card-history
            [listParcels]="list"
            [statusParcels]="statusPage"
          ></app-card-history>
        </div>
      </div>
      <div *ngIf="statusPage === 1" class="row me-2 ms-2">
        <div *ngFor="let list of list_Parcel0" class="col-md-12 p-1">
          <app-list-history
            [listParcels]="list"
            [statusParcels]="statusPage"
          ></app-list-history>
        </div>
      </div>
    </div>
  </div>
</div>
