<div class="user">
  <div class="">
    <app-menu-bar (page)="goTo($event)"></app-menu-bar>
  </div>
  <app-home-page *ngIf="statusPage === 'home-page'"></app-home-page>
  <app-add-receiver *ngIf="statusPage === 'add-receiver-page'"></app-add-receiver>
  <app-edit-profile *ngIf="statusPage === 'edit-profile-page'"></app-edit-profile>
  <app-history *ngIf="statusPage === 'history-page'"></app-history>
  <app-dashboard-statistics *ngIf="statusPage === 'dashboard-statistics-page'"></app-dashboard-statistics>
  <app-scan *ngIf="statusPage === 'scan-page'"></app-scan>
  <app-notification *ngIf="statusPage === 'notification-page'"></app-notification>
  <!-- <router-outlet></router-outlet> -->
</div>
