<div class="edit-profile">
  <div class="col-sm-4 offset-4 mt-4">
    <div class="d-flex justify-content-between">
      <h3>แก้ไขข้อมูลผู้ใช้</h3>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <img
        class="rounded-circle"
        [src]="image | async"
        alt=""
        *ngIf="imageProfile !== ''"
      />
      <mat-icon
        class="imgProfile d-flex justify-content-center align-items-center mb-5"
        *ngIf="imageProfile === ''"
        >account_circle</mat-icon
      >
    </div>
    <div class="input-group mt-3">
      <input
        type="file"
        class="form-control"
        id="inputFile"
        (change)="upload_Image($event)"
        accept=".png,.jpg"
      />
      <label class="input-group-text" for="inputFile">อัพโหลดรูปโปรไฟล์</label>
    </div>
    <div class="row mt mt-5">
      <label class="col-2 align-self-center" for="">ชื่อ</label>
      <div class="col-4">
        <input
          class="p-2 rounded-3 border-0 form-control"
          type="text"
          [value]="firstname"
          [(ngModel)]="fname"
          (ngModelChange)="changeFirstname($event)"
        />
      </div>
      <label class="col-2 align-self-center" for="">นามสกุล</label>
      <div class="col-4">
        <input
          class="p-2 rounded-3 border-0 form-control"
          type="text"
          [value]="lastname"
          [(ngModel)]="lname"
          (ngModelChange)="changeLastname($event)"
        />
      </div>
    </div>
    <div class="row mt">
      <label class="col-2 align-self-center" for="">ภาควิชา</label>
      <div class="col-10">
        <input
          class="p-2 rounded-3 border-0 form-control"
          type="text"
          [value]="department"
          [(ngModel)]="d_partment"
          (ngModelChange)="changeDepartment($event)"
        />
      </div>
    </div>
    <div class="row mt">
      <label class="col-2 align-self-center" for="">อีเมล</label>
      <div class="col-10">
        <input
          class="p-2 rounded-3 border-0 form-control text-secondary"
          type="email"
          [value]="email"
          [(ngModel)]="e_mail"
          (ngModelChange)="changeEmail($event)"
          disabled
        />
      </div>
    </div>
    <div class="row mt">
      <label class="col-4 align-self-center" for=""
        >รหัสสำหรับแก้ไขข้อมูล</label
      >
      <div class="col-4">
        <input
          class="p-2 rounded-3 border-0 form-control"
          type="text"
          [(ngModel)]="check_keyCode"
          (ngModelChange)="checkKey_code($event)"
        />
      </div>
    </div>
    <div class="row mt">
      <div class="d-flex justify-content-end">
        <button
          class="ms-3 bt"
          mat-flat-button
          color="primary"
          (click)="update()"
        >
          บันทึก
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mt">
      <div class="border-bottom" style="width: 920px"></div>
    </div>
    <div class="d-flex justify-content-between mt-4 mt">
      <strong>รหัสผ่าน</strong>
      <button
        mat-flat-button
        color="primary"
        class="bt"
        (click)="resetPassword()"
      >
        แก้ไขรหัสผ่าน
      </button>
    </div>
  </div>
</div>
