.edit-profile {
  background-color: #f0f2f5;
  font-size: 16px;
  .mt {
    margin-top: 20px;
  }
  img {
    max-height: 20vh;
    width: 10vw;
  }
  .imgProfile {
    color: #30009c;
    font-size: 116px;
  }
  .add-photo {
    visibility: visible;
    position: absolute;
  }
  :hover .add-photo {
    visibility: visible;
  }
  ::ng-deep .bt.mat-flat-button {
    background-color: #30009c;
  }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
