<div class="admin-scan mt-5">
  <div class="camera row col-md-4 offset-4 p-0">
    <div class="mt-5 p-0 d-flex justify-content-end">
      <button mat-icon-button (click)="changeCamera($event)">
        <mat-icon class="flip_c">flip_camera_ios</mat-icon>
      </button>
    </div>
    <div class="align-self-center p-0 mb-5 position-relative">
      <h4
        class="text-muted d-flex justify-content-center mt-5"
        *ngIf="check_camera === false"
      >
        ไม่พบอุปกรณ์กล้องของคุณ
      </h4>
      <div *ngIf="openCamera === true">
        <zxing-scanner
          [formats]="formats"
          [(device)]="currentDevice"
          (scanSuccess)="scanSuccessHandler($event)"
          (camerasFound)="camerasFoundHandler($event)"
          (permissionResponse)="onHasPermission($event)"
        ></zxing-scanner>
        <div class="d-flex justify-content-center">
          <div class="border border-danger center-scanF"></div>
        </div>
      </div>
      <div class="row col-md-6 offset-3 pt-3">
        <strong class="text-danger">***นำกล้องไปที่รหัสติดตามพัสดุ***</strong>
      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header border-0 pb-0">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
          (click)="cancel()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-6 offset-3">
          <img src="../../../assets/images/box.svg" alt="" />
        </div>
        <div class="mt-2">
          <h3 class="d-flex justify-content-center">เพิ่มรายการพัสดุ</h3>
          <strong class="text-secondary d-flex justify-content-center"
            >หมายเลขติดตามพัสดุ</strong
          >
          <div class="d-flex justify-content-center form-inline">
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="track"
              name=""
              id=""
              placeholder="หมายเลขพัสดุ"
            />
            <button
              mat-icon-button
              matTooltip="เพิ่มหมายเลขพัสดุ"
              class="add_track"
              (click)="addTrack($event)"
            >
              <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
            </button>
          </div>
          <div class="vertical-menu">
            <div
              *ngFor="let i of tracking"
              class="d-flex justify-content-around"
            >
              <p class="material-icons text-success" *ngIf="i.check === 0">
                check_circle
              </p>
              <p class="text-success" *ngIf="i.check === 0">
                ตรงกับรายการลงทะเบียน
              </p>

              <p class="material-icons text-warning" *ngIf="i.check === 1">
                error
              </p>
              <p class="text-success" *ngIf="i.check === 1">
                ไม่มีการลงทะเบียน
              </p>

              <p class="material-icons text-danger" *ngIf="i.check === 2">
                cancel
              </p>
              <p class="text-success" *ngIf="i.check === 2">
                ไม่ใช่รายการของผู้รับพัสดุ
              </p>

              <p class="text-secondary">{{ i.tracking }}</p>
              <mat-icon
                role="button"
                (click)="
                  open_Image_Component(
                    i.tracking,
                    i.path0,
                    i.path1,
                    i.path2,
                    i.path3
                  )
                "
                >add_photo_alternate</mat-icon
              >
              <mat-icon
                role="button"
                color="warn"
                (click)="deleteTrack(i.tracking)"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
        <div>
          <strong class="text-secondary d-flex justify-content-center"
            >ผู้รับพัสดุ</strong
          >
          <input
            class="form-control"
            list="datalistOptions"
            id="exampleDataList"
            placeholder="กรอกชื่อเจ้าของพัสดุ"
            [(ngModel)]="name"
            (ngModelChange)="search($event)"
          />
          <datalist id="datalistOptions">
            <option *ngFor="let item of list_name" [value]="item">
              {{ item }}
            </option>
          </datalist>
        </div>
        <div class="d-flex flex-column p-1">
          <button mat-flat-button (click)="addTracking($event)">
            เพิ่มพัสดุ &nbsp;<img src="../../../assets/icon/scan.svg" alt="" />
          </button>
        </div>
        <div class="d-flex flex-column accept-Parcel p-1">
          <button class="" mat-flat-button (click)="receiverParcels()">
            ส่งการแจ้งเตือน
          </button>
        </div>
      </div>
    </ng-template>

    <div class="d-flex justify-content-end me-3 mb-3 fixed-bottom">
      <button
        mat-fab
        class="addParcels"
        (click)="addParcel(content)"
        matTooltip="เพิ่มหมายเลขพัสดุ
    "
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
