.home {
  height: 100%;
  img {
    width: 40vh;
  }
  p {
    font-size: 2em;
    img {
      width: 0.8em;
    }
  }
  h3 {
    font-size: 1.41em;
  }
  h1 {
    font-size: 1em;
  }

  @media (min-width: 768px) {
    img {
      width: 30vh;
    }
    p {
      font-size: 3em;
      img {
        width: 0.8em;
      }
    }
    h3 {
      font-size: 2.1em;
    }
    h1 {
      font-size: 1.4em;
    }
  }

  @media (min-width: 992px) {
    img {
      width: 50vh;
    }
    p {
      font-size: 4em;
      img {
        width: 0.8em;
      }
    }
    h3 {
      font-size: 2.77em;
    }
    h1 {
      font-size: 1.7em;
    }
  }

  @media (min-width: 1200px) {
    img {
      width: 60vh;
    }
    p {
      font-size: 4em;
      img {
        width: 0.8em;
      }
    }
    h3 {
      font-size: 2.45em;
    }
    h1 {
      font-size: 2em;
    }
  }
  .text-uppercase {
    text-transform: uppercase;
  }

  .shadowList {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .list {
    border-radius: 5px;
  }
  .vertical-menu {
    height: 510px;
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(207, 206, 206);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 118, 118);
  }
  height: 100%;
  .imgParcel {
    height: 150;
    position: relative;
    top: -60px;
    left: 60px;
  }
}
