<div class="home">
    <div class="row m-0 h-100">
      <div class="col-xl-8">
        <div class="ms-3 row align-items-center h-50">
          <div class="col text-start text-uppercase">
            <p class="fw-bold home-title d-flex align-items-center mb-0">Tracking and N
              <img src="../../assets/icon/scan.svg" class="m-1">tifying</p>
            <h3 class="fw-bold home-title">system for Collecting Parcels</h3>
            <h1>for Faculty Engineering Rajamangala</h1>
            <h1>University of Technology Thanyaburi</h1>
          </div>
        </div>
        <div class="row align-item-center">
          <div class="col">
          </div>
          <div class="col-auto">
            <img src="../../assets/images/undraw_deliveries_131a.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-4 p-0">
        <app-sign-in *ngIf="page === 'signIn'" (gotoPage)="goTo($event)"></app-sign-in>
        <app-sign-up *ngIf="page === 'signUp'" (gotoPage)="goTo($event)"></app-sign-up>
      </div>
    </div>
  </div>