<div class="admin-home-page">
  <div class="mt-2 row col-12">
    <div class="row d-flex align-items-center">
      <div class="col-10 offset-1">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary bradius"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ selectSearch }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                ngbDropdownItem
                (click)="changeState_search(0, 'เจ้าของพัสดุ')"
              >
                เจ้าของพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(1, 'หมายเลขติดตามพัสดุ')"
              >
                หมายเลขติดตามพัสดุ
              </button>
              <button
                ngbDropdownItem
                (click)="changeState_search(2, 'วันที่เจ้าหน้าที่รับพัสดุ')"
              >
                วันที่เจ้าหน้าที่รับพัสดุ
              </button>
            </div>
          </div>
          <input
            *ngIf="stateSearch === 0"
            type="text"
            class="form-control"
            [(ngModel)]="name"
            (ngModelChange)="searchName($event)"
            placeholder="ชื่อ-นามสกุล"
          />
          <input
            *ngIf="stateSearch === 1"
            type="text"
            class="form-control"
            [(ngModel)]="track"
            (ngModelChange)="searchTrack($event)"
            placeholder="หมายเลขติดตามพัสดุ"
          />
          <input
            *ngIf="stateSearch === 2"
            type="date"
            class="form-control"
            [(ngModel)]="date"
            (ngModelChange)="searchDate($event)"
          />
          <button class="btn border btRemove" (click)="resetForm()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div class="col">
        <mat-button-toggle-group class="">
          <mat-button-toggle (click)="activeStatus(0)" checked>
            <mat-icon fontSet="material-icons-outlined">widgets</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="activeStatus(1)">
            <mat-icon>list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
    <div class="d-flex justify-content-center" *ngIf="statusParcels === false">
      <h4 class="text-muted">ยังไม่มีรายการพัสดุ</h4>
    </div>
  <div *ngIf="statusPage === 0" class="row me-2 ms-2">
    <div *ngFor="let list of list_Parcel0" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
      <app-card
        [listParcels]="list"
        [statusParcels]="statusPage"
        [owner]="deCodeName"
      ></app-card>
    </div>
  </div>

  <div *ngIf="statusPage === 1" class="row me-2 ms-2">
    <div *ngFor="let list of list_Parcel0" class="col-md-12 p-1">
      <app-list
        [listParcels]="list"
        [statusParcels]="statusPage"
      ></app-list>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="d-flex justify-content-end me-3 mb-3 fixed-bottom">
        <button
        (click)="open_popup_randomKey()"
        class="btn btn-light code d-flex align-items-center"
          matTooltip="รหัสผ่านสำหรับลงทะเบียนและแก้ไขข้อมูลผู้ใช้งาน"
        >
        <p class="m-0 p-2">Random Key</p>
          <mat-icon>vpn_key</mat-icon>
        </button>
      </div>
    </div>
  </div>  
</div>
