.admin-home-page {
  background-color: #f0f2f5;
  ::ng-deep .mat-icon-button {
    height: auto;
    width: auto;
  }
  .bradius {
    border-radius: 5px 0px 0px 5px;
  }
  ::ng-deep .btn-outline-primary {
    background-color: #30009c;
    color: white;
    border-color: #30009c;
  }
  #reset {
    color: #30009c;
    border: 1px solid #ced4da;
  }
  mat-toolbar {
    background-color: #f0f2f5;
  }
  .spacer {
    flex: 1 1 auto;
  }
  mat-icon {
    color: #30009c;
  }
  .addParcels {
    background-color: #30009c;
    mat-icon {
      font-size: 48px;
      color: white;
      position: relative;
      transform: translate(-50%, -50%);
    }
  }

  mat-form-field {
    mat-label {
      font-size: 16px;
    }
  }
  .nav-indicartor {
    background: #30009c;
    position: absolute;
    border-radius: 10px;
    right: 0;
    bottom: -2;
    left: 0;
    height: 4px;
    transform-origin: bottom;
    transition: transform 235ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .code {
    color: #30009c;
    box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2),
      0 3px 20px 0 rgba(173, 167, 167, 0.1);
    border: 2px solid #30009c;
    mat-icon {
      color: #30009c;
    }
  }
}
::ng-deep .custom-css-class {
  background-color: white;
  color: black;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  button {
    background-color: #30009c;
    color: white;
  }
}
.modal-footer {
  border-bottom: none;
  border-top: none;
}
